html{
    background-color: #121212;
}
header, footer{
    background-color: #1e1e1e;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
}
/*Gestion de l'ouverture fermeture de l'header*/
.headerClosed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 1%;
}
.headerOpened{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 1%;
}
/* Fin de la gestion */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}
main{
    background-color: #121212;
    margin-bottom: 100px;
}
.mainHeaderOpen{
    margin-top: 200px;
}
.mainHeaderClosed{
    margin-top: 10px;
}
.headerbutton{
    background-color: #bb86fc;
    padding: 2%;
    border-radius: 10%;
    border-color: #bb86fc;
    border-style: solid;
    padding: 2%;
}
.closebutton{
    background-color: #cf6679;
    padding: 2%;
    border-radius: 10%;
    border-color: #cf6679;
    border-style: solid;
    padding: 2%;
}
p{
    color: #e5e5e5;
    text-align: justify;
}
input{
    background-color: #121212;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-color: #bb86fc;
    border-left-width: 10px;
}
.headerClose{
    background-color: #1e1e1e;
    border-radius: 50%;
    border-style: solid;
    border-color: #1e1e1e;
    position: relative;
    padding: 1%;
    margin-top: 0%;
}
.content{
    margin: 0;
    top: 50%;
    vertical-align: middle;
}
.right-panel{
    margin-left: 710px;
}
input{
    color: #bb86fc;
}
.highlight{
    background-color: #bb86fc;
}
.button-toggle{
    color: #e5e5e5;
    text-decoration: dotted;
}
.caret{
    color: #e5e5e5;
}
.dropdown-submenu {
    position: relative;
  }
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    background-color: ;
}

.buttonEdit{
    color: #e5e5e5;
    margin-bottom: 0;
    transition: color 0.25s;
}
.buttonEdit:hover{
    color: #bb86fc;
}